$primary: #7952B3;
$primary-variant: #65419b;
$secondary: #FFC107;
$secondary-variant: #daa402;
$background: $white;
$surface: $white;
$error: #B00020;
$on-primary: $white;
$on-secondary: $black;
$on-background: $black;
$on-surface: $black;
$on-error: $white;