.all-requirements-card {
  margin: 40px 16px 0;
  // width: 100%;
  // max-width: 825px;
  // min-width: 288px;
  flex-grow: 1;
  
  &__container {
    position: sticky;
    top: 0px;
  }
  
  // \/
  margin: 40px 32px;// 0;

  @media (min-width: 576px) { }
  
  @media (min-width: 768px) { }

  @media (min-width: 992px) { }

  @media (min-width: 1200px) { 
    
  }

  @media (min-width: 1400px) { 
  }
} 