.board-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 0px;
    margin-bottom: 16px;

    @media (min-width: 576px) {
      padding: 0 2% 2% 0;
      &:nth-child(2n) {
        padding-right: 0px;
      }
      width: calc(100% / 2);
      margin-bottom: 0px;
    }

    @media (min-width: 768px) {
      padding: 0 2% 2% 0;
      
      &:nth-child(1n) {
        padding-right: 2%;
      }
      
      &:nth-child(3n) {
        padding-right: 0px;
      }

      width: calc(100% / 3);
    }

    @media (min-width: 992px) { 
      padding: 0 2% 2% 0;
      
      &:nth-child(1n) {
        padding-right: 2%;
      }
      
      &:nth-child(4n) {
        padding-right: 0px;
      }

      width: calc(100% / 4);
    }
  }
} 