.board-group {
  margin-bottom: 32px;

  // &__container {

  // }

  &__header {
    margin-bottom: 16px;
  }
 
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0px;
    }
  }

  @media (min-width: 576px) { }
}