.btn {
  color: #fff;
  background-color: $primary;
  font-size: 1em;
  font-weight: 700;
  padding: 13px 60px;
  text-align: center;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
  -moz-box-shadow: 0 2px 4px 0 rgba(100, 105, 124, 0.24);
  box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  line-height: 23px;
  line-height: 1.6428571429rem;

  &[type="submit"] {
    margin: 5px 0;
  }

  &--block {
    width: 100%;
  }
}