input {
  &[type='password'],
  &[type='email'] {
    padding: 9px 20px;
    height: 49px;
    font-size: 14px;
    letter-spacing: normal;
    border-width: 2px;
    border-radius: 4px;
    line-height: 2em;
    line-height: 2rem;
  }
}