.sidebar-requirements {
  background-color: #fff;
  border-right: 1px solid rgb(219, 219, 219);
  position: sticky;
  top: 0px;
  min-height: calc(100vh);
  height: auto;
  max-height: 100vh;
  overflow-y: auto;

  &__container {
    width: 240px;
  }

  // \/
  display: none;

  @media (min-width: 576px) {

  }

  @media (min-width: 768px) { 
  }

  @media (min-width: 992px) { 
    display: flex;
    
  }

  @media (min-width: 1200px) {
    
  }

  @media (min-width: 1400px) {

  }
}