.signin-section {
  background-color: $background;

  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: flex-start;
  flex-direction: column;

  padding-top: 32px;

  &__container-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 64px;

    h1 {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      margin-bottom: 0px;
      color: $on-background;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      @include font-size(60px);
      letter-spacing: -0.5px;
      font-weight: 900;
    }
  }

  &__logo {
    margin-bottom: 32px;
    height: 16px;
  }

  &__without-account {
    text-align: center;
  }
  
  @media (min-width: 576px) {
    align-items: center;

    &__container-form {
      min-width: 500px;
    }

    &__logo {
      height: 20px;
    }

    h1 {
      @include font-size(45px);
    }
  }

  @media (min-width: 768px) { 
    flex: 0 0 50%;
    max-width: 50%;

    
    &__container-form {
      min-width: auto;
    }

    &__logo {
      height: 24px;
    }

    h1 {
      @include font-size(40px);
    }

    &__container-form {
      margin: 0px;
    }  
  }

  @media (min-width: 992px) { 
    
  }

  @media (min-width: 1200px) {
    justify-content: center;
    
  }

  @media (min-width: 1400px) {

  }
}